 


 <% layout('layouts/boilerplate') %>
  <body>
    <h1>All Listings</h1>
    <form method="GET" action="/listings/new">
      <button type="submit" style="margin: 1%;">Add New  Listings</button>
    </form>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for (let listing of allListings) { %>
        <a class="text-decoration-none" href="/listings/<%=listing._id%>">
        <div class="card col border-0 mb-2" style="width: 20rem;">
          <img   src="<%= listing.image.url%>  " class="card-img-top rounded "  style="height: 20rem";   >
          <div class="card-body">
            <p class="card-text "><b><%= listing.title %> </b><br>
              ₹ <%= listing.price%>/Night
            </p>
          </div>
        </div>
      </a>
        <% } %>

    </div>

   



    
  </body>
